@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgb(2, 0, 36) 46%, rgb(0, 0, 26) 98%);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 70%;
}

.begin-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
}
.begin-container img {
  margin-top: 10em;
  width: 500px;
}
.begin-container h1 {
  font-family: "Rowdies", sans-serif;
  letter-spacing: 4px;
  font-size: 2.8rem;
  margin-bottom: 1em;
  margin-top: 2em;
}
.begin-container p {
  letter-spacing: 1px;
  font-size: 2rem;
}
.begin-container p span {
  color: rgb(255, 215, 0);
  font-weight: bold;
}
.begin-container__btn {
  margin-top: 1em;
}

.curtain {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(128, 0, 32);
  z-index: 10;
  transition: top 1s ease;
  opacity: 0;
}

.curtain.open {
  opacity: 1;
  top: 0;
}

.main {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 6em;
  margin-top: 10em;
  border-left: 2px white solid;
  border-right: 2px white solid;
}
.main .game {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 5em;
  gap: 2em;
}
.main .game button {
  margin-top: 1em;
}
.main__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.main__row p {
  font-size: 2.2rem;
}
.main__row input {
  padding: 1em 2em;
  border: none;
}
.main .score {
  width: 40%;
  margin-top: 5em;
  font-size: 2.2rem;
}

:root {
  --text-color: rgb(255, 253, 208);
  --shadow-color: rgb(204, 0, 0);
  --btn-color: rgb(128, 0, 32);
  --bg-color: #141218;
}

button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--text-color);
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
}

button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after,
button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}

button::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}

.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.right {
  left: 66%;
}

.left {
  right: 66%;
}

.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  background-color: var(--bg-color);
  color: transparent;
  transition: transform 0.4s ease-out;
  transform: translate(0, -90%) rotate(0deg);
}

button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg);
}

button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg);
}

button .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg);
}

/* bubbles */
button::before {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
  z-index: 10;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
@media (max-width: 768px) {
  .begin-container img {
    width: 300px;
  }
  .begin-container h1 {
    font-size: 2.2rem;
  }
  .begin-container p {
    font-size: 1.8rem;
  }
  .begin-container button {
    margin-top: 1.6em;
  }
  .main {
    padding: 2em;
    margin-top: 10em;
  }
  .main .game {
    width: 40%;
    margin-top: 5em;
    gap: 1em;
  }
  .main .game button {
    margin-top: 1.4em;
  }
  .main__row p {
    font-size: 1.4rem;
  }
  .main__row input {
    padding: 0.5em 2em;
    border: none;
  }
  .main .score {
    margin-top: 10em;
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .begin-container img {
    width: 350px;
  }
  .begin-container h1 {
    font-size: 2.2rem;
  }
  .begin-container p {
    font-size: 1.8rem;
  }
  .begin-container button {
    margin-top: 1.6em;
  }
  .main {
    padding: 2em;
    margin-top: 10em;
  }
  .main .game {
    margin-top: 2em;
    gap: 1em;
  }
  .main .game button {
    margin-top: 1.4em;
  }
  .main__row p {
    font-size: 1.8rem;
  }
  .main__row input {
    padding: 1em 2em;
    border: none;
  }
  .main .score {
    margin-top: 12em;
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .begin-container img {
    width: 350px;
  }
  .begin-container h1 {
    font-size: 2.4rem;
  }
  .begin-container p {
    font-size: 1.8rem;
  }
  .main {
    padding: 4em;
    margin-top: 10em;
  }
  .main .game {
    margin-top: 5em;
    gap: 1em;
  }
  .main .game button {
    margin-top: 1em;
  }
  .main__row p {
    font-size: 2rem;
  }
  .main__row input {
    padding: 1em 2em;
    border: none;
  }
  .main .score {
    margin-top: 12em;
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .begin-container img {
    width: 400px;
  }
  .begin-container h1 {
    font-size: 2.6rem;
  }
  .begin-container p {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */