// $red: (204, 0, 0);
// $gold: (255, 215, 0);
// $gray: (192, 192, 192);
// $emerald: (0, 128, 0);
// $white: (255, 253, 208);

$bg-color: rgb(0, 0, 26);
$text-color: rgb(255, 253, 208);
$btn-color: rgb(128, 0, 32);
$sec-btn-color: rgb(204, 0, 0);
$accent-color: rgb(255, 215, 0);
